
:root {
  --widget-background-color: rgba(10, 10, 10, 0.6);
  --widget-background-color-selected: rgba(60, 60, 60, 0.5);
  --widget-border: 1px solid rgba(60, 60, 60, 0.3);
  --widget-border-bright: 1px solid rgba(80, 80, 80, 0.6);
  --widget-border-dim: 1px solid rgba(80, 80, 80, 0.2);
  --widget-border-dim: 1px solid rgba(80, 80, 80, 0.1);
}
