:root {
  --widget-background-color-dim: rgba(10, 10, 10, 0.7);
  --widget-background-color: rgba(15, 15, 15, 0.4);
  --widget-background-color-selected: rgba(50, 50, 50, 0.3);
  --widget-background-color-hovered: rgba(60, 60, 60, 0.4);
  --widget-background-color-active: rgba(100, 100, 100, 0.4);
  --widget-font-color: rgba(200, 200, 200, 0.85);
  --widget-font-color-bright: rgba(250, 250, 250, 0.85);
  --widget-border: 1px solid rgba(80, 80, 80, 0.3);
  --widget-border-bright: 1px solid rgba(100, 100, 100, 0.6);
  --widget-border-dim: 1px solid rgba(100, 100, 100, 0.2);
  --terminal-cursor-color: rgba(255, 255, 255, 0.5);
  --terminal-cursor-background-color: rgba(15, 15, 15, 0.0);
  --status-badge-background-color: rgba(15, 15, 15, 0.4);
  --status-badge-ok-color: rgba(0, 200, 0, 0.7);
  --status-badge-loading-color: rgba(0, 100, 200, 0.7);
  --status-badge-error-color: rgba(200, 0, 0, 0.7);
  --status-badge-default-color: rgba(120, 120, 120, 0.7);
  --graph-node-color: rgba(0, 220, 0, 1.0);
  --graph-node-hover-border-color: rgba(255, 255, 255, 0.9);
  --graph-label-color: rgba(255, 255, 255, 0.8);
  --graph-label-hover-color: rgba(255, 255, 255, 0.8);
  --graph-label-hover-background-color: rgba(15, 15, 15, 0.5);
  --graph-edge-color: rgba(0, 160, 255, 0.8);
  --log-event-created: rgba(0, 150, 0, 0.95);
  --log-event-terminated: rgba(250, 100, 0, 0.95);
  --log-event-sent: rgba(0, 100, 255, 0.95);
}
