:root {
  --widget-background-color: rgba(15, 15, 15, 0.6);
  --widget-background-color-selected: rgba(50, 50, 50, 0.4);
  --widget-background-color-hovered: rgba(50, 50, 50, 0.5);
  --widget-background-color-active: rgba(100, 100, 100, 0.5);
  --widget-font-color: rgba(150, 150, 150, 0.8);
  --widget-border: 1px solid rgba(60, 60, 60, 0.3);
  --widget-border-bright: 1px solid rgba(80, 80, 80, 0.6);
  --widget-border-dim: 1px solid rgba(80, 80, 80, 0.2);
  --widget-border-dim: 1px solid rgba(80, 80, 80, 0.1);
  --terminal-cursor-color: rgba(255, 255, 255, 0.5);
  --terminal-cursor-background-color: rgba(15, 15, 15, 0.1);
  --status-badge-background-color: rgba(15, 15, 15, 0.4);
  --status-badge-ok-color: rgba(0, 200, 0, 0.7);
  --status-badge-loading-color: rgba(0, 100, 200, 0.7);
  --status-badge-error-color: rgba(200, 0, 0, 0.7);
  --status-badge-default-color: rgba(120, 120, 120, 0.7);
}
